body
{
    background: #333;
}

.box
{
    background: white;
    width: 300px;
    height: 300px;
    position: relative;
    margin: auto;
    top: 200px;
    /* transition-property: background, border-radius, transform; */
    transition: all;
    transition-duration: 1s, 3s;
    /*transition-delay: 2s, 4s; */
    transition-timing-function: ease-in;
}

.box:hover
{
    background: red;
    border-radius: 50%;
    transform: rotateY(180deg);
}

