body
{
    background-color: black;
}

.macharia
{
     
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

}
.flex-container-column
{
    width: 60vw;
    height: 70vh;
    background-color: rgb(223, 29, 29);
    margin: 10% auto;  
    border-radius: 10px;
    box-sizing: border-box;
    padding: 100px;
    
}

.flex-container-column div
{
    width: 100%;
    height: 50px;
    background: lightgreen;
    margin: 10px;
    border-radius: 10px;
}